<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <div>
        <center>
            <h1>Celsius to Fahrenheit Converter</h1>
            <form action="/cel" method="POST">
                <label for="cel"></label>
                <input type="text" name="cel" id="cel">
            <input type="submit" value="calculate">
            </form>
            <h1>RESULT:</h1>
        <h2>{{value}}</h2>
        </center>
    </div>
</body>
</html>